<section class="ifmath-description definicao">
  
  <h4 class="title">Informações</h4>
  
  <p class="ifmath-description__text ifmath-description__text--justify">
    <span>
      <i class="fa fa-caret-right" aria-hidden="true"></i>
      Um <strong>reta</strong> é formada por um conjunto de infinitos pontos alinhados, 
      ela é infinita para as duas direções.
    </span>
  </p>
  <p class="ifmath-description__text ifmath-description__text--justify">
    <span>
      <i class="fa fa-caret-right" aria-hidden="true"></i>
      Embora um ponto não tenha dimensão, é possível medir a distância entre dois pontos de uma reta,
       dessa forma, uma reta possui uma dimensão: comprimento.
    </span>
  </p>
  <p class="ifmath-description__text ifmath-description__text--justify">
    <span>
      <i class="fa fa-caret-right" aria-hidden="true"></i>
      A representação de uma reta é feita por uma linha e sua indicação é feita por letras 
      minúsculas de nosso alfabeto, por exemplo: a, b, c, ...
    </span>
  </p>
  <div class="imagem">
    <img src="assets/images/reta.png">
  </div>
</section>
