<section class="ifmath-side-bar">
  <ul class="list-group  list-group-collapse">
    
    <li class="list-group-item list-group-item-action side-bar__selected" 
        [routerLink]="['funcoes_definicao']">
        Definição
    </li>

    <li class="list-group-item list-group-item-action"   
        [routerLink]="['funcoes_encontrar_valor_numerico']">
        Função do Primeiro Grau Encontrar Valor Numérico
    </li>

    <li class="list-group-item list-group-item-action"
        [routerLink]="['funcoes_encontrar_funcao']">
      Função do Primeiro Grau Encontrar Função             
    </li>

    <li class="list-group-item list-group-item-action side-bar__selected"  
        [routerLink]="['funcoes_segundo_grau']">
      Função do Segundo Grau
    </li>
    
  </ul>
</section>
