
<section class="ifmath-view">
  <div class="row-offcanvas row-offcanvas-left">
    <div id="sidebar" class="sidebar-offcanvas">
      <div class="col-lg-12">
        <app-sidebar-angulo></app-sidebar-angulo>
      </div>
    </div>
    <div id="main">
      <div class="col-lg-12">
        <p class="d-block d-sm-none">
          <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">
            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
          </button>
        </p>
        <div class="container-fluid">
          <div class="row">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="push"></div>
</section>
