<div class="row ifmath-conteudo__titulo">
  <span class="ifmath-conteudo__txt-titulo">Definição</span>
</div>
<section>

  <p class="p-justify">
    É um processo prático para resolver problemas que envolvem quatro valores,
    dos quais conhecemos apenas três. Devemos, portanto, determinar um valor com base nos outros três já conhecidos.
  </p>

  <h4>Passos de uma Regra de Três</h4>
  <p>
    •Construir uma tabela, agrupando as grandezas da mesma espécie em colunas e mantendo, na mesma linha, as grandezas
    de espécies diferentes em correspondência. <br>
    •Verificar se as grandezas são diretamente ou inversamente proporcionais. <br>
    •Montar a proporção e resolver a equação.<br>
  </p>

  <h4>Grandezas Proporcionais</h4>
  <p>
    I. Duas grandezas são diretamente proporcionais quando a razão entre os valores da primeira é igual à razão entre os
    valores correspondentes da segunda. <br>
    II. Duas grandezas são inversamente proporcionais quando a razão entre os valores da primeira é igual ao inverso da
    razão entre os valores correspondentes da segunda.
  </p>


</section>