<section class="ifmath-side-bar">
  <ul class="list-group list-group-collapse">
    <li class="list-group-item active list-group-item active--blue">Ângulos</li>
    <li class="list-group-item list-group-item-action side-bar__selected" [routerLink]="['definicao_angulo']">Definição</li>
    <li class="list-group-item list-group-item-action side-bar__selected" [routerLink]="['medida_angulo']">Medida do ângulo</li>
    <li class="list-group-item list-group-item-action side-bar__selected disabled" >Tipos de Ângulos</li>
    <li class="list-group-item list-group-item-action side-bar__selected disabled" >Ângulos Complementares</li>
    <li class="list-group-item list-group-item-action side-bar__selected disabled" >Ângulos Suplementares</li>
    <li class="list-group-item list-group-item-action side-bar__selected disabled" >Ângulos Congruentes</li>
    <li class="list-group-item list-group-item-action side-bar__selected disabled" >Ângulos Consecutivos</li>
    <li class="list-group-item list-group-item-action side-bar__selected disabled" >Ângulos Opostos pelo Vértice</li>
    <li class="list-group-item list-group-item-action side-bar__selected disabled"><a>Curiosidades</a></li>
  </ul>
</section>
