<section class="ifmath-jsc-sidebar">
  <ul class="list-group  list-group-collapse">
    <li class="list-group-item list-group-item-action" [routerLink]="['juros_simples_e_compostos_definicao']">
      Definição
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['juros_simples_montante']">
      Juros Simples Montante
    </li>
    <li class="list-group-item list-group-item-action"  [routerLink]="['juros_simples_taxa']">
      Juros Simples Taxa
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['juros_simples_capital']">
      Juros Simples Capital
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['juros_simples_tempo']">
      Juros Simples Tempo
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['juros_compostos_montante']">
      Juros Compostos Montante
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['juros_compostos_taxa']">
      Juros Compostos Taxa
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['juros_compostos_capital']">
      Juros Compostos Capital
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['juros_compostos_tempo']">
      Juros Compostos Tempo
    </li>
  </ul>
</section>