<div class="container">

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">

      <div class="col-lg-4">
        <img class="rounded-circle" src="assets/images/colaboradores/ailton.jpg" alt="Generic placeholder image"
          width="140" height="140">
        <h5> Ailton Durigon</h5>
        <p class="text-center">
          <br> <strong>Professor</strong>
          <br> <strong>Orientador</strong>
          <br> ailton.durigon@ifsc.edu.br
        </p>
      </div>

      <div class="col-lg-4">
        <img class="rounded-circle" src="assets/images/colaboradores/alex.jpg" alt="Generic placeholder image"
          width="140" height="140">
        <h5>Alex Avila</h5>
        <p class="text-center">
          <br> <strong>Ex-aluno</strong>
          <br> <strong>Voluntário</strong>
          <br> alex_avila11@hotmail.com
        </p>
      </div>

      <div class="col-lg-4">
        <img class="rounded-circle" src="assets/images/colaboradores/enedir.jpg" alt="Generic placeholder image"
          width="140" height="140">
        <h5>Enedir Junior</h5>
        <p class="text-center">
          <br> <strong>Ex-aluno</strong>
          <br> <strong>Voluntário</strong>
          <br> guimaraes.junior94@gmail.com
        </p>
      </div>

      <div class="col-lg-4">
        <img class="rounded-circle" src="assets/images/colaboradores/isabel.jpg" alt="Generic placeholder image"
          width="140" height="140">
        <h5>Isabel Tosetto</h5>
        <p class="text-center">
          <br> <strong>Ex-aluno</strong>
          <br> <strong>Voluntário</strong>
          <br> isabeltosetto@gmail.com
        </p>
      </div>

      <div class="col-lg-4">
        <img class="rounded-circle" src="assets/images/colaboradores/giovane.jpg" alt="Generic placeholder image"
          width="140" height="140">
        <h5>Giovani Girardi</h5>
        <p class="text-center">
          <br> <strong>Aluno</strong>
          <br> <strong>Voluntário</strong>
          <br> giovanigg08@gmail.com
        </p>
      </div>

      <div class="col-lg-4">
        <img class="rounded-circle" src="assets/images/colaboradores/Passig.jpg" alt="Generic placeholder image"
          width="140" height="140">
        <h5> William Passig</h5>
        <p class="text-center">
          <br> <strong>Ex-aluno</strong>
          <br> <strong>Voluntário</strong>
          <br> wilpsouza@gmail.com
        </p>
      </div>

      <div class="col-lg-4">
        <img class="rounded-circle" src="assets/images/colaboradores/fernando.jpg" alt="Generic placeholder image"
          width="140" height="140">
        <h5>Fernando Godoi</h5>
        <p class="text-center">
          <br> <strong>Ex-aluno</strong>
          <br> <strong>Voluntário</strong>
          <!-- <br> isabeltosetto@gmail.com -->
        </p>
      </div>

      <div class="col-lg-4">
        <img class="rounded-circle" src="assets/images/colaboradores/wagner.jpg" alt="Generic placeholder image"
          width="140" height="140">
        <h5>Wagner Graciano Junior</h5>
        <p class="text-center">
          <br> <strong>Aluno</strong>
          <br> <strong>Voluntário</strong>
          <br> wagner.gj@aluno.ifsc.edu.br
        </p>
      </div>

      <div class="col-lg-4">
        <img class="rounded-circle" src="assets/images/colaboradores/victor.jpg" alt="Generic placeholder image"
          width="140" height="140">
        <h5>Victor Klann</h5>
        <p class="text-center">
          <br> <strong>Aluno</strong>
          <br> <strong>Voluntário</strong>
          <br> stvklann@gmail.com
        </p>
      </div>


      <div class="col-lg-4">
          <img class="rounded-circle" src="assets/images/colaboradores/carol.jpg" alt="Generic placeholder image"
            width="140" height="140">
          <h5>Carol Lara</h5>
          <p class="text-center">
            <br> <strong>Aluno</strong>
            <br> <strong>Voluntário</strong>
            <br> Carolinelara35@gmail.com
          </p>
        </div>
  
        <div class="col-lg-4">
          <img class="rounded-circle" src="assets/images/colaboradores/iago.jpg" alt="Generic placeholder image"
            width="140" height="140">
          <h5>Iago Bianquini</h5>
          <p class="text-center">
            <br> <strong>Aluno</strong>
            <br> <strong>Voluntário</strong>
            <br> iagobianquini@gmail.com
          </p>
        </div>
  
        <div class="col-lg-4">
          <img class="rounded-circle" src="assets/images/colaboradores/keila.jpg" alt="Generic placeholder image"
            width="140" height="140">
          <h5>Keila Fernandes</h5>
          <p class="text-center">
            <br> <strong>Aluno</strong>
            <br> <strong>Voluntário</strong>
            <br> keiladaianefernandes24@gmail.com
          </p>
        </div>

        <div class="col-lg-4">
            <img class="rounded-circle" src="assets/images/colaboradores/gilberto.jpg" alt="Generic placeholder image"
              width="140" height="140">
            <h5>Gilberto Júnior</h5>
            <p class="text-center">
              <br> <strong>Aluno</strong>
              <br> <strong>Voluntário</strong>
              <br> medeiros.gilberto.br@gmail.com
            </p>
          </div>
  
       
      </div><!-- /.row -->
      <br>
      <br>
      <img src="assets/images/logoifsc.png" alt="IFSC">
    </div>
  </div>