h2, h5 {
    text-align: center;
}

#sobre {
  border-style: solid;
  display: inline-block;
  border-radius: 25px;
  border-color: #32a041;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgba(108, 213, 108, 0.41);
  padding: 1% 0 1% 0;
}

p {
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%
}

img {
    width: 40%;
    display: block;
    margin: auto;
    padding: 1% 0 1% 0;
}

#ori {
    text-align: center;
    padding-left: 2%;
}



#vol {
    text-align: center;
    padding-right: 2%;
}

/deep/ nav{
    background-color: #359d6e !important;
  }
  

@media screen and (max-width: 992px) {
    #bol {
        text-align: center;
        border-style: solid;
        border-width: 0.1em;
        border-color: green;
        border-right: none;
        border-left: none;
        margin: 4% 2% 4% 2%;
        padding: 4% 0 4% 0; 
    }
  }
  
  @media screen and (min-width: 992px) {
    #bol {
        text-align: center;
        border-style: solid;
        border-width: 0.1em;
        border-color: green;
        border-bottom: none;
        border-top: none;
    }
  }