<section class="rp-sidebar">
  <ul class="list-group list-group-collapse">
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['est_definicao']">
      Definição
    </li>
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['est_apresentacao']">
      Apresentação de dados
    </li>
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['est_medidas']">
      Medidas de Tendência Central, Dispersão, Assimetria e Curtose
    </li>
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['est_referencias']">
      Referências
    </li>
  </ul>
</section>
