<section class="ifmath-theme">
  <div class="ifmath-theme__image__container ifmath-theme__image__container--blue col-md-12">
    <div class="row">
      <div class="ifmath-theme__image__right col-6">
        <img src="assets/images/geometria.png">
      </div>
      <div class="ifmath-theme__titled__centralized col-6">
        <h1>Geometria</h1>
      </div>
    </div>
    <h4>Conteúdos disponíveis:</h4>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <a [routerLink]="['ponto']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--blue">
            Ponto
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-md-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--blue">
            Reta
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-md-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--blue">
            Plano
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-md-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--blue">
            Ângulos
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-md-6">
        <a [routerLink]="['triangulo']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--blue">
            Triângulos
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-md-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--blue">
            Quadriláteros
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-md-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--blue">
            Circunferências
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-md-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--blue">
            Círculos
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-md-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--blue">
            Polígonos
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-md-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--blue">
            Polígonos Regulares
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-md-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--blue">
            Prismas
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-md-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--blue">
            Pirâmides
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-md-6">
        <a [routerLink]="['cilindro']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--blue">
            Cilindros
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-md-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--blue">
            Cones
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-md-6">
        <a [routerLink]="['esfera']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--blue">
            Esferas
          </button>
        </a>
      </div>
    </div>
  </div>
</section>
