<section class="ifmath-description definicao">

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h3 class="title">Triângulos</h3>
        </div>
        <br>
        <br>
        <div class="col-md-12 col-sm-12">
            <h4 class="title">Definição</h4>
        </div>
        <div class="col-md-12 col-sm-12">
            <p class="ifmath-description__text ifmath-description__text--justify definicao">
                <span>
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                    Triângulo ou trilátero é um polígono que tem três lados e três ângulos.
                </span>
            </p>
            <p class="ifmath-description__text ifmath-description__text--justify definicao">
                <span>
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                    Podemos, ainda, definir triângulo como uma figura geométrica formada por três segmentos,
                    cujas extremidades são três pontos não alinhados.
                </span>
            </p>
        </div>
        <div class="col-md-12 col-sm-12">
            <h4 class="title">Elementos</h4>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="row">
                <div class="col-sm-12 col-md-6 legenda">
                    Vértices: A, B, C <br>
                    Lados: a, b, c <br>
                    Ângulos: &alpha;, &beta;, &gamma;
                </div>
                <div class="col-sm-12 col-md-6 imagem">
                    <img src="assets/images/triangulo.PNG">
                </div>
            </div>
        </div>
    </div>
</section>