<section class="definition">
  <!-- Cone -->
  <div class="row definition__group mt-4">
    <div class="col-12">
      <h3 class="text-center">Elementos</h3>
    </div>

    <div class="col-12 col-xl-6 text-center">
      <!-- Imagem -->
      <img src="assets/images/geometria/cone/cn-elementos/elementos5-cone.png" alt=""
        class="definition__group__img img-fluid mx-auto d-block justify-content-center" />
    </div>
    <!-- Explicação -->
    <div class="col-12 col-xl-6 d-flex align-items-center">
      <p>A <u>altura</u> (<strong>h</strong>) do cone é o segmento de reta perpendicular traçado do
        <u>vértice</u> (<strong>V</strong>)
        ao plano da base e a <u>geratriz</u> (<strong>g</strong>) do cone é cada segmento que liga o vértice a um ponto
        da circunferência da base.
      </p>
    </div>

    <!-- Observações -->
    <div class="col-12 text-center">
      <h4 class="text-center text-danger">Observações</h4>
    </div>

    <div class="col-lg-12 col-xl-6">
      <!-- Imagem -->
      <img src="assets/images/geometria/cone/cn-elementos/elementos3-cone.svg" alt=""
        class="definition__group__img img-fluid rounded mx-auto d-block justify-content-center" />
      <!-- Explicação -->
      <div class="row">
        <div class="col-lg-12 col-xl-6">
          <p class="p-justify mt-4">Se o eixo é perpendicular à base, o cone denomina-se <em>cone reto</em>.</p>
        </div>
        <div class="col-lg-12 col-xl-6">
          <p class="p-justify mt-4">Se o eixo é oblíquo à base, o cone é chamado de <em>cone oblíquo</em>.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-12 col-xl-6">
      <!-- Imagem -->
      <img src="assets/images/geometria/cone/cn-elementos/elementos4-cone.svg" alt=""
        class="definition__group__img img-fluid rounded mx-auto d-block justify-content-center" />
      <!-- Explicação -->
      <p class="p-justify mt-4">
        Um cone reto pode ser obtido girando-se uma região triangular cujo contorno é um triângulo retângulo em torno
        de uma reta que contém um dos catetos.
      </p>
      <p class="p-justify">
        Por esse motivo, o cone reto é considerado um sólido ou <em>corpo de revolução</em> e é chamado <em>cone de
          revolução</em>.
      </p>
    </div>

  </div>
</section>