<section>
  <h3>Definição</h3>
  <h3>Juros Simples</h3>
  <p class="p-justify">
    Quando emprestamos um capital a uma pessoa física ou jurídica,
    recebemos de volta a quantia emprestada mais uma quantia que denominamos juros.<br>

    Quando o valor dos juros a ser pago por um empréstimo ao final de cada período é
    calculado apenas sobre o capital inicial, mantendo-se constante durante todo o período
    da transação, trabalhamos com juros simples.<br>
  </p>

  <h3>Juros Compostos</h3>
  <p class="p-justify">
    Diferentemente do juro simples, que é calculado sempre sobre o capital inicial, o juro
    composto é calculado sobre o montante obtido no período anterior, ou seja, para calcular
    montante de um período, é necessário saber o montante do período anterior.<br>
  </p>

  <h3>Observações sobre Juros</h3>
  <p>
    I. Na determinação dos juros, a taxa e o tempo devem estar relacionados na mesma unidade.<br>
    II. Por convenção, o mês comercial tem 30 dias, e o ano comercial, 360 dias.
  </p>

</section>
