<!-- region fomrulario -->
<section class="ifmath-form__contener__body">
  <!-- Form -->
  <form (ngSubmit)="onSubmit()" [formGroup]="form" #demoForm="ngForm">
    <div class="row ifmath-conteudo__titulo">
      <span class="ifmath-conteudo__txt-titulo">Desconto Percentual</span>
    </div>
    <br>
    <div class="row">
      <!-- Title -->
      <div class="col-sm-12 col-md-4 ifmath-form__title ifmath-conteudo__borda">
        <img class="ifmath-conteudo__img ifmath-form_img-formula--blackgrey"
          src="assets/images/formulas/formula_PC_desconto.png"><br />
        <br />
      </div>

      <div class="col-sm-12 col-md-8">
        <!-- Fields -->
        <div class="col-md-12 input-group">
          <span class="input-group-addon input-group-addon--blackgrey" id="sizing-addon2">C</span>
          <input type="text" name="p" formControlName="p" class="form-control" aria-describedby="sizing-addon2">
        </div>
        <div>
          <span class="ifmath-form__label ifmath-form__label--error"
            *ngIf="form.get('p').hasError('required') && form.get('p').touched">Campo
            invalido!</span>
        </div>

        <div class="col-md-12 input-group">
          <span class="input-group-addon input-group-addon--blackgrey" id="sizing-addon2">i</span>
          <input type="text" name="n" formControlName="n" class="form-control" aria-describedby="sizing-addon2">
        </div>
        <div>
          <span class="ifmath-form__label ifmath-form__label--error"
            *ngIf="form.get('n').hasError('required') && form.get('n').touched">Campo
            invalido!</span>
        </div>

        <br>
        <!-- buttons -->
        <div class="col-sm-12 col-md-12 ifmath-form__button__group">
          <button type="submit" class="btn btn-success btn-success--blackgrey btn-success--semMargin"
            [disabled]="form.invalid" value="Calcular">Calcular</button>
          <button type="reset" class="btn btn-success btn-success--blackgrey btn-success--semMargin"
            value="Limpar">Limpar</button>
        </div>
      </div>
    </div>

  </form>
  <!-- endregion -->
  <div class="row">
    <!-- region Resultados -->
    <div class="col-sm-12 col-md-12">
      <ifmath-ng-results [loading]="loading" [resultados]="resultados"></ifmath-ng-results>
    </div>
    <!-- endregion -->
  </div>
</section>
