.definicao {
  font-size: 20px;
}

li {
  list-style-type: circle;
}

.fa {
  font-size: large;
  margin-right: 8px;
}

.title {
  padding-top: 2em;
  padding-bottom: 1.5em;
}

.imagem {
  text-align: center;
}