<section class="ifmath-description definicao">
  
  <h4 class="title">Informações</h4>
  
  <p class="ifmath-description__text ifmath-description__text--justify">
    <span>
      <i class="fa fa-caret-right" aria-hidden="true"></i>
      Um <strong>ponto</strong>, não possui uma forma definida, nem dimensão (medida).
    </span>
  </p>
  <p class="ifmath-description__text ifmath-description__text--justify">
    <span>
      <i class="fa fa-caret-right" aria-hidden="true"></i>
      Uma marca em uma folha de papel nos dá a noção intuitiva de ponto.
    </span>
  </p>
  <p class="ifmath-description__text ifmath-description__text--justify">
    <span>
      <i class="fa fa-caret-right" aria-hidden="true"></i>
      Ele é muito importante em construções geométricas de outras figuras. Uma das aplicações é para
      a localização geográfica.
    </span>
  </p>
  <p class="ifmath-description__text ifmath-description__text--justify">
    <span>
      <i class="fa fa-caret-right" aria-hidden="true"></i>
      Para a representação de um ponto utilizamos letras maiúsculas do nosso alfabeto, por exemplo:
      A, B, C, ...
    </span>
  </p>
  <div class="imagem">
    <img src="assets/images/ponto.png">
  </div>
</section>
