<div class="row ifmath-conteudo__titulo">
  <span class="ifmath-conteudo__txt-titulo">Definição</span>
</div>
<section>

  <p class="p-justify">
    A ideia da porcentagem é representar partes de um total de 100 partes.
    Daí a leitura do símbolo % ser “por cento”. A expressão por cento vem do latim per centum, que significa “por um
    cento”.
  </p>

  <p>
    • Acréscimo: É o valor atual (100% = 100/100 = 1) mais a taxa i de aumento. Neste caso para obter um aumento de 15%
    (15/100 = 0,15), basta multiplicarmos o valor a ser aumentado por 115% (115/100 = 1,15).
  </p>
  <p>
    • Desconto: Por outro lado, para um desconto de 15% (15/100 = 0,15), basta reduzir este fator de 100% (100/100 = 1),
    neste caso, multiplique o valor a ser descontado pelo fator 0,85, pois 100% - 15% = 85% (85/100 = 0,85).
  </p>
</section>