<section class="ifmath-form__contener__body">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-10 ifmath-form__title ponto">
          <div class="row">
            <div class="col-sm-12">
              <h5 class="descricao">
                <i class="fa fa-caret-right" aria-hidden="true"></i> Clique em dois lugares diferentes da tela
              </h5>
            </div>
            <div #container class="col-sm-12 resolucao">
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <button (click)="limpar()" class="btn btn-primary botao">Limpar</button>
        </div>
      </div>
    </div>
  </div>
</section>
