<section class="ifmath-theme">
  <div class="ifmath-theme__image__container ifmath-theme__image__container--blackgrey col-md-12">
    <div class="row">
      <div class="ifmath-theme__image__right col-6">
        <img src="assets/images/algebra.png">
      </div>
      <div class="ifmath-theme__titled__centralized col-6">
        <h1>Álgebra e Funções</h1>
      </div>
    </div>
    <h4 class="text-center">Conteúdos disponíveis:</h4>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <a [routerLink]="['equacao_primeiro_grau']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--blackgrey">
            Equação do Primeiro Grau
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--blackgrey">
            Sistema de Equações do Primeiro Grau
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--blackgrey">
            Equação do Segundo Grau
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--blackgrey">
            Expressões Algébricas
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--blackgrey">
            Produtos Notáveis
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a [routerLink]="['funcoes']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--blackgrey">
            Funções
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--blackgrey">
            Funções Exponenciais e Logarítmicas
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a [routerLink]="['trigonometria']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--blackgrey">
            Trigonometria
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a [routerLink]="['analise_combinatoria']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--blackgrey">
            Análise Combinatória
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a [routerLink]="['razao_e_proporcao']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--blackgrey">
            Razão e Proporção
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a [routerLink]="['regra_de_tres']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--blackgrey">
            Regra de Três
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a [routerLink]="['porcentagem']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--blackgrey">
            Porcentagem
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a [routerLink]="['juros_simples_e_compostos']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--blackgrey">
            Juros Simples e Compostos
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a [routerLink]="['progressao_aritmetica']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--blackgrey">
            Progressão Aritmética
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a [routerLink]="['progressao_geometrica']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--blackgrey">
            Progressão Geométrica
          </button>
        </a>
      </div>
    </div>
  </div>
</section>
