<section class="definition">
  <!-- Cone -->
  <div class="row definition__group mt-4">

    <div class="col-12">
      <h3 class="text-center">Definição</h3>
      <br>
      <!-- Explicação -->
      <p class="p-justify"> A <strong>estatística</strong> está relacionada aos métodos para coleta, 
        organização, resumo, apresentação e análise de dados, bem como à obtenção de conclusões básicas
        e à tomada de decisões razoáveis baseadas em tais análises.
      </p>
      <p class="p-justify"> O termo estatística também pode ser usado, em sentido restrito para 
        designar os próprios dados ou números deles derivados como, por exemplo, as médias. Assim 
        falamos em estatística de empregos, de acidentes, de gastos etc.
      </p>
      <br>
      <h5 class="">Estatística Descritiva</h5>

      <p class="p-justify"> A parte da estatística que busca somente descrever e analisar um 
        determinado grupo, sem concluir ou inferir algo de um grupo maior, é denominada
        estatística descritiva ou indutiva.
      </p>

    </div>

  </div>
</section>
