<section class="definition">

  <!-- Cilindro -->
  <div class="row definition__group mt-4">
    <h3 class="col-12 text-center">Definição</h3>
    <div class="col-12">
      <!-- Explicação -->
      <p class="p-justify">Considere dois planos <strong>α</strong> e <strong>β</strong>, distintos e paralelos,
        e um segmento de reta
        MN com <strong>M</strong> pertencente a <strong>α</strong> e <strong>N</strong> pertencente a
        <strong>β</strong>.</p>
      <p>Dado um círculo <strong>C</strong> de centro <strong>O</strong> e raio <strong>r</strong>, contido em α,
        chamamos de cilíndro
        circular (ou simplesmente cilindro) à reunião de todos os segmentos de reta,
        paralelos e congruentes ao segmento MN, que unem um ponto do círculo <strong>C</strong> a a um ponto
        <strong>β</strong>. <ng-katex class="explicacao" equation="\overline{MN}">
        </ng-katex> ser perpendicular a <span>α</span>, o cilíndro é reto.
      </p>
    </div>
    <!-- Imagem -->
    <div class="col-lg-12 col-xl-6">
      <img src="assets/images/geometria/cilindro/cilindro.png" alt=""
        class="definition__group__img img-fluid rounded mx-auto d-block justify-content-center" />
    </div>
    <!-- Imagem -->
    <div class="col-lg-12 col-xl-6">
      <img src="assets/images/geometria/cilindro/cilindro2.png" alt=""
        class="definition__group__img img-fluid rounded mx-auto d-block justify-content-center" />
    </div>

    <!-- Explicação -->
    <p class="p-justify mt-5">Um cilindro reto pode ser obtido também girando-se uma região retangular em torno de uma
      reta
      que contém um de seus lados. Por isso, o cilindro circular reto pode ser chamado também de cilindro de revolução,
      uma vez que é o sólido gerado quando uma região retangular faz um giro completo em torno do eixo determinado por
      um de seus lados.
    </p>

    <!-- Imagem -->
    <div class="col-lg-12 col-xl-12">
      <img src="assets/images/geometria/cilindro/cilindro3.png" alt=""
        class="definition__group__img img-fluid rounded mx-auto d-block justify-content-center" />
    </div>

  </div>



</section>
