<div class="row ifmath-conteudo__titulo">
  <span class="ifmath-conteudo__txt-titulo">Definição</span>
</div>
<section>

  <h3>Descrição</h3>
  <p class="p-justify">
    Progressão geométrica (P.G.) é uma sequência numérica em que cada termo, a partir do segundo,
    é obtido multiplicando-se o anterior por uma constante q, chamada razão da P.G.
  </p>

  <h4>Classificação</h4>
  <p>
    Uma progressão geométrica pode ser classificada da seguinte maneira: <br>
    •Crescente (a < 0: 0 < q < 1; a> 0: q > 1); <br>
      •Decrescente (a < 0: q> 1; a > 0: 0 < q < 1); <br>
          •Constante (a 0: q = 1; a = 0: q); <br>
          •Estacionária (q = 0); <br>
          •Oscilante (para qualquer a: q < 0) <br>
  </p>

  <h4>Propriedades de uma Progressão Geométrica</h4>
  <p>
    I. Numa P.G. com número ímpar de elementos, temos que o quadrado do termo médio é igual ao produto dos extremos. <br>
    II. O produto dos termos equidistantes dos extremos de uma P.G. é igual ao produto desses extremos.
  </p>

</section>