<section class="ifmath-form__contener__body">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-10 ifmath-form__title">
          <div class="row">
            <div class="col-sm-12 ifmath-description">
              <p>
                Três ou mais pontos estão alinhados, ou são colineares quando pertencem a uma mesma reta.
              </p>
              <p>
                <i class="fa fa-caret-right" aria-hidden="true"></i> Construa uma reta e verifique o axioma.
              </p>
            </div>
            <div #container class="col-sm-12 resolucao">
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <button (click)="limpar()" class="btn btn-primary botao">Limpar</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="ifmath-description">
  <p>
    Três ou mais pontos estão alinhados, ou são colineares quando pertencem a uma mesma reta.
  </p>
  <p>
    <i class="fa fa-caret-right" aria-hidden="true"></i> Construa uma reta e verifique o axioma.
  </p>
  <div #container class="col-sm-12 resolucao">

  </div>
  
</section> -->