<section class="ifmath-side-bar">
  <ul class="list-group  list-group-collapse">
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['ac_descricao']">
      Definição
    </li>
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['ac_principio_multiplicativo']">
      Princípio multiplicativo
    </li>
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['ac_permutacao_simples']">
      Permutação Simples
    </li>
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['ac_arranjos_simples']">
      Arranjos Simples
    </li>
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['ac_combinacoes_simples']">
      Combinações Simples
    </li>
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['ac_binomio_de_newton']">
      Binômio de Newton
    </li>
    <!-- <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['ac_triangulo_de_pascal']">
      Triângulo de Pascal
    </li> -->
  </ul>
</section>
