<section class="ifmath-side-bar">
  <ul class="list-group list-group-collapse">
    <li class="list-group-item list-group-item-action side-bar__selected" [routerLink]="['definicao']">Definição</li>
    <li class="list-group-item list-group-item-action side-bar__selected" [routerLink]="['tres_vertices']">
      Conhecendo os 3 vértices
    </li>
    <li class="list-group-item list-group-item-action side-bar__selected" [routerLink]="['tres_lados']">
      Conhecendo os 3 lados
    </li>
    <li class="list-group-item list-group-item-action side-bar__selected" [routerLink]="['lado_compreendido']">
      Dois lados e o ângulo compreendido
    </li>
    <li class="list-group-item list-group-item-action side-bar__selected" [routerLink]="['angulo_compreendido']">
      Dois ângulos e o lado compreendido
    </li>
    <li class="list-group-item list-group-item-action side-bar__selected disabled" >
      Teorema de Pitágoras
    </li>
    <li class="list-group-item list-group-item-action side-bar__selected disabled" >
      Soma dos ângulos internos
    </li>
    <li class="list-group-item list-group-item-action side-bar__selected"><a>Curiosidades</a></li>
  </ul>
</section>
