<section class="sidebar-nav">
  <ul class="list-group  list-group-collapse">
    <li class="list-group-item list-group-item-action" [routerLink]="['rp_descricao']">
      Descrição
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['razao']">
      Razão
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['razao_inversa']">
      Razão Inversa
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['razao_equivalente']">
      Razão Equivalente
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['proporcao']">
      Verificar Proporção
    </li>
    <li class="list-group-item list-group-item-action"  [routerLink]="['proporcao_termo_desconhecido']">
      Proporção Termo Desconhecido
    </li>
  </ul>
</section>