<section class="ifmath-description">

<h3>Razão</h3>
<p class="p-justify">
  A palavra razão vem do latim ratio, que significa “divisão”. 
  Denominamos razão entre dois números a e b, sendo b diferente de 0, o quociente a : b.<br>
  <strong>de uma razão</strong><br>
  Observe a razão: a:b<br>
  O número a é denominado antecedente, e o número b, consequente.<br>
</p>

<h3>Proporção</h3>
<p class="p-justify">
  A palavra proporção, do latim proportionis, significa 
  “uma relação entre as partes de uma grandeza”. Proporção é uma igualdade entre duas razões.<br>

  <strong>Elementos de uma proporção</strong>
  dados quatro números racionais não nulos, a, b, c e d, nessa ordem, dizemos que eles 
  formam uma proporção quando a razão do primeiro para o segundo é igual à razão do terceiro para o quarto.
</p>

<h3>Propriedades das Proporções</h3>
  <p class="p-justify">
    <strong>Fundamental:</strong>
    Em toda proporção, o produto dos meios é igual ao produto dos extremos, ou seja:<br>
    <br>
    <img class="image-formula image-formula--blackgrey image-center" src="assets/images/formulas/propriedade_RP_propriedade_fundamental.png"><br />
    <br>
    <strong>Demais Propriedades:</strong><br>
    <br>
    <strong>1ª propriedade:</strong><br>
    Em uma proporção, a soma dos dois primeiros termos está para o segundo (ou primeiro)
    termo assim como a soma dos dois últimos termos está para o quarto (ou terceiro) termo.<br>
    <br>
    <img class="image-formula image-formula--blackgrey image-center" src="assets/images/formulas/propriedade_RP_propriedade_1_1.png"><br />
    <br>
    <img class="image-formula image-formula--blackgrey image-center" src="assets/images/formulas/propriedade_RP_propriedade_1_2.png"><br />
    <br>
    <strong>2ª propriedade:</strong><br>
    Em uma proporção, a diferença dos dois primeiros termos está para o segundo (ou primeiro)
    termo assim como a diferença dos dois últimos está para o quarto (ou terceiro) termo.<br>
    <br>
    <img class="image-formula image-formula--blackgrey image-center" src="assets/images/formulas/propriedade_RP_propriedade_2_1.png"><br />
    <br>
    <img class="image-formula image-formula--blackgrey image-center" src="assets/images/formulas/propriedade_RP_propriedade_2_2.png"><br />
    <strong>3ª propriedade:</strong><br>
    Em uma proporção, a soma dos antecedentes está para a soma dos consequentes assim como cada
    antecedente está para o seu consequente.<br>
    <br>
    <img class="image-formula image-formula--blackgrey image-center" src="assets/images/formulas/propriedade_RP_propriedade_3.png"><br />
    <br>
    <strong>4ª propriedade:</strong><br>
    Em uma proporção, a diferença dos antecedentes está para a diferença dos consequentes assim
    como cada antecedente está para o seu consequente.<br>
    <br>
    <img class="image-formula image-formula--blackgrey image-center" src="assets/images/formulas/propriedade_RP_propriedade_4.png"><br />
    <br>
    <strong>5ª propriedade:</strong><br>
    Em uma proporção, o produto dos antecedentes está para o produto dos consequentes assim como
    o quadrado de cada antecedente está para o quadrado de seu consequente.<br>
    <br>
    <img class="image-formula image-formula--blackgrey image-center" src="assets/images/formulas/propriedade_RP_propriedade_5.png"><br />
    <br>
  </p>
</section>