<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-9 mt-md-0 mt-3">

        <!-- Content -->
        <h6>IFMATH é a elaboração de um software aplicado ao ensino e aprendizagem de matemática:</h6>
        <p class="p-justify">Neste projeto propomos a elaboração de um software matemático para auxiliar o docente no processo de
          ensino, bem como o discente no processo de aprendizagem.
          O software está dividido em três partes:
          <strong> Números e Operações, Geometria, Álgebra e Funções</strong>. Propõe-se a elaboração de um software que
          pode ser acessado
          por qualquer dispositivo, desde que este possua um browser e acesso à internet, contribuindo dessa forma, para
          que
          o processo de ensino-aprendizagem seja mais efetivo com a utilização de uma ferramenta computacional em sala
          de aula.</p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Midias Relacionadas</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.lages.ifsc.edu.br/">IFSC Campus Lages</a>
          </li>
          <li>
            <a href="https://www.lages.ifsc.edu.br/">CNPQ</a>
          </li>
          <li>
            <a href="https://www.facebook.com/ifsantacatarina/">Facebook IFSC</a>
          </li>
          <li>
            <a href="https://www.facebook.com/ifsccampuslages/">Facebook IFSC Campus Lages</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://www.lages.ifsc.edu.br/"> Instituto Federal de Santa Catarina IFSC</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->