<section>
  <h3>Definição</h3>
  <p class="p-justify">
    Progressão Aritmética (P.A.) é uma sequência numérica em que cada termo, a partir do segundo, é igual a soma do termo anterior com uma constante chamada razão (r). 
    A razão é obtida por meio da diferença de um termo da sequência pelo seu anterior.
  </p>

  <h3>Classificação</h3>
  <p>
    Uma progressão aritmética pode ser classificada da seguinte maneira:  <br>
    •Crescente: r > 0; <br>
    •Decrescente: r < 0; <br>
    •Constante: r = 0 (razão nula). 
  </p>

  <h3>Propriedades de uma Progressão Aritmética</h3>
  <br>
  <p>
      <strong>I. Qualquer termo, a partir do segundo, será a média aritmética entre o anterior e o posterior:</strong><br>
      (a<sub>k</sub>) = ... <br>
      Obs.: Colocar fórmula aqui com mathjax ou outro html<br>
      <br>
      <strong>II. A soma dos termos equidistantes dos extremos é igual a soma dos extremos:</strong><br>
      a2+an-1=a3+an-2=a4+an-3=...=a1+an
  </p>
</section>