<section class="definition">

  <!-- Esfera -->
  <div class="row definition__group mt-4">

    <div class="col-12">
      <h3 class="text-center">Definição</h3>
      <!-- Explicação -->
      <p class="p-justify">Dado um ponto O e um segmento de comprimento r.</p>
      <p class="p-justify">
        <i class="fa fa-caret-right"> </i>
        Uma <em>superfície esférica</em> de centro O e raio <em>r</em> é o conjunto
        dos pontos do espaço que distam <em>r</em> do ponto O.
      </p>
      <p class="p-justify">
        <i class="fa fa-caret-right"> </i>
        Uma <em>esfera</em> de centro O e raio <em>r</em> é o conjunto dos pontos
        do espaço cuja distância ao ponto O é menor ou igual a <em>r</em>.
      </p>
    </div>

    <!-- Observação -->
    <div class="row col-12">
      <div class="col-12 col-lg-6">
        <img src="assets/images/geometria/esfera/esfera-definicao-1.png"
          class="definition__group__img img-fluid rounded mx-auto d-block justify-content-center">
        <p class="p-justify"><strong>1ª)</strong> A superfície esférica é a superfície
          gerada pela rotação de uma semicircunferência em torno de um eixo que contém seu diâmetro.
        </p>
      </div>
      <div class="col-12 col-lg-6">
        <img src="assets/images/geometria/esfera/esfera-definicao-2.png"
          class="definition__group__img img-fluid rounded mx-auto d-block justify-content-center">
        <p class="p-justify"><strong>2ª)</strong> A esfera é o sólido de revolução gerado pela rotação
          de um semicírculo em torno de um eixo que contém o diâmetro.
        </p>
      </div>
    </div>

  </div>

</section>