<section class="ifmath-description definicao">

  <h4 class="title">Informações</h4>

  <p class="ifmath-description__text ifmath-description__text--justify">
    <span>
      <i class="fa fa-caret-right" aria-hidden="true"></i>
      Um <strong>plano</strong> é uma superfície sem fronteiras, ilimitada em todas as direções.
    </span>
  </p>
  <p class="ifmath-description__text ifmath-description__text--justify">
    <span>
      <i class="fa fa-caret-right" aria-hidden="true"></i>
      É formada por um conjunto de retas alinhadas.
    </span>
  </p>
  <p class="ifmath-description__text ifmath-description__text--justify">
    <span>
      <i class="fa fa-caret-right" aria-hidden="true"></i>
      Em um plano pode-se desenhar figuras geométricas como o ponto, reta, triângulos, polígonos, circunferência e círculo.
    </span>
  </p>
  <p class="ifmath-description__text ifmath-description__text--justify">
    <span>
      <i class="fa fa-caret-right" aria-hidden="true"></i>
      Para a sua representação utilizamos letras do alfabeto grego, por exemplo: &alpha;, &beta;, &gamma;, ...
    </span>
  </p>
  <div class="imagem">
    <img src="assets/images/plano.png">
  </div>
</section>
