<section class="ifmath-tri-sidebar">
  <ul class="list-group  list-group-collapse">
    <li class="list-group-item list-group-item-action" [routerLink]="['tri_definicao']">
      Definição
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['medida_arcos_grau']">
      Medida de arcos usando Graus
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['medida_arcos_radiano']">
      Medida de arcos usando Radianos
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['angulo_ponteiros']">
      Ângulo Entre Ponteiros
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['medida_angulo_central']">
      Ângulo do Círculo Central
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['medida_angulo_inscrito']">
      Ângulo do Círculo Inscritos
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['medida_angulo_excentrico_externo']">
      Ângulo do Círculo Excentrico Externo
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['medida_angulo_excentrico_interno']">
      Ângulo do Círculo Excentrico Interno
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['seno']">
      Triangulo Seno
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['cosseno']">
      Triangulo Cosseno
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['tangente']">
      Triangulo Tangente
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['razoes_trigonometricas']">
      Razões Trigonométrica
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['funcoes_trigonometricas']">
      Funções Trigonométricas
    </li>
  </ul>
</section>