<section class="ifmath-theme">
  <div class="ifmath-theme__image__container ifmath-theme__image__container--purple col-md-12">
    <div class="row">
      <div class="ifmath-theme__image__right col-6">
        <img src="assets/images/numeros.png">
      </div>
      <div class="ifmath-theme__titled__centralized col-6">
        <h1> Números e Operações</h1>
      </div>
    </div>
    <h4>Conteúdos disponíveis:</h4>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--purple">
            Sistemas de Numeração
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--purple">
            Números Naturais
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--purple">
            Múltiplos e Divisores
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--purple">
            Números Inteiros
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--purple">
            Frações
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--purple">
            Números Decimais
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--purple">
            Números Racionais
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--purple">
            Números Reais
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--purple">
            Potenciação e Radiciação
          </button>
        </a>
      </div>
    </div>
  </div>
</section>
