<section class="ifmath-side-bar">
  <ul class="list-group  list-group-collapse">
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['por_descricao']">
      Definição
    </li>
    <!--Encontre-->
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['por_calculo_percentual']">
      Cálculo percentual
    </li>
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['por_calculo_porcentagem']">
      Cálculo de porcentagem
    </li>
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['por_acrescimo']">
      Acréscimo
    </li>
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['por_desconto']">
      Desconto
    </li>
  </ul>
</section>