<section class="definition">
  <!-- Cone -->
  <div class="row definition__group mt-4">

    <div class="col-12">
      <h3 class="text-center">Definição</h3>
      <!-- Explicação -->
      <p class=""> Vamos considerar um plano <strong>α</strong>, uma região circular <strong>R</strong> nesse
        plano e um ponto <strong>P</strong> não pertencente a <strong>α</strong>.
      </p>
    </div>

    <div class="col-lg-12 col-xl-6">
      <!-- Imagem -->
      <img src="assets/images/geometria/cone/cn-definicao/elementos-cone.svg" alt=""
        class="definition__group__img img-fluid rounded mx-auto d-block justify-content-center" />
      <!-- Explicação -->
      <p class="p-justify mt-5">A reunião de todos os segmentos que ligam cada ponto de <strong>R</strong> ao ponto
        <strong>P</strong> é um sólido chamado <em>cone circular</em>.
      </p>
    </div>

    <div class="col-lg-12 col-xl-6">
      <!-- Imagem -->
      <img src="assets/images/geometria/cone/cn-definicao/elementos2-cone.svg" alt=""
        class="definition__group__img img-fluid rounded mx-auto d-block justify-content-center" />
      <!-- Explicação -->
      <p class="p-justify mt-5">A superfície do cone é formada por uma parte plana, a região circular, que é a sua base,
        e uma parte não-plana, "curva", "arredondada", que é a sua superfície lateral.
      </p>
    </div>

  </div>
</section>