<section class="definition">

  <!-- Elementos -->
  <div class="row definition__group mt-4 ">
      <h3 class="col-12 text-center">Elementos</h3>
    <div class="col-12 col-lg-6 col-xl-6">
      <!-- Explicação -->
    <div class="">
        <p class="p-justify">
          <i class="fa fa-caret-right"> </i>
          Os pontos do cilindro que pertencem ao plano β formam um círculo congruente aquele que está
          contido em α e esses dois círculos são as <strong>bases</strong> do cilindro.
        </p>
        <p class="p-justify">
          <i class="fa fa-caret-right"> </i>
           A reta determinada pelos centros <strong>O</strong> e <strong>O'</strong> é chamado
           <strong>eixo</strong> do cilindro.
        </p>
        <p class="p-justify">
          <i class="fa fa-caret-right"> </i>
            Todo segmento de reta paralelo ao eixo do cilindro, com uma extremidade na circunferência
            contido em α e a outra na circunferência do círculo contido em β, é chamado <strong>geratriz</strong>
            do cilindro.
        </p>
        <p class="p-justify">
          <i class="fa fa-caret-right"> </i>
            A distância entre β e α é a <strong>altura</strong> do cilindro.
        </p>
      </div>
    </div>
    <!-- Imagem -->
    <div class="col-12 col-lg-6 col-xl-6 definition__group__description align-self-center">
        <img src="assets/images/geometria/cilindro/cilindro-elementos.png" alt=""
          class="definition__group__img img-fluid rounded mx-auto d-block justify-content-center" />
      </div>


  </div>

</section>
