<section class="ifmath-description definicao">

  <h4 class="title">Informações</h4>

  <p class="ifmath-description__text ifmath-description__text--justify">
    <span>
      <i class="fa fa-caret-right" aria-hidden="true"></i>
      Ângulo é a região do plano limitada por duas semirretas que têm a mesma origem.
    </span>
  </p>
  <div class="imagem">
    <img src="assets/images/angulo.PNG">
  </div>
  <p class="ifmath-description__text ifmath-description__text--justify">
    <span>
      <i class="fa fa-caret-right" aria-hidden="true"></i>
      Indica-se AÔB (lê-se: "ângulo AOB") ou BÔA, ou Ô.
    </span>
  </p>
  <p class="ifmath-description__text ifmath-description__text--justify">
    <span>
      <i class="fa fa-caret-right" aria-hidden="true"></i>
      O: vértice do ângulo.
    </span>
  </p>
</section>
