<section class="rp-sidebar">
  <ul class="list-group list-group-collapse">
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['ci_definicao']">
      Definição
    </li>
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['ci_elementos']">
      Elementos
    </li>
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['ci_areas']">
      Áreas
    </li>
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['ci_volume']">
      Volume
    </li>
    <!-- <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['cf_relacoes_metricas']">
      Construção
    </li> -->
  </ul>
</section>