<section class="ifmath-theme">
  <div class="ifmath-theme__image__container ifmath-theme__image__container--orange col-md-12">
    <div class="row">
      <div class="ifmath-theme__image__right col-6">
        <img src="assets/images/geometria.png">
      </div>
      <div class="ifmath-theme__titled__centralized col-6">
        <h1>Estatística</h1>
      </div>
    </div>
    <h4>Conteúdos disponíveis:</h4>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <a [routerLink]="['estatistica_descritiva']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--orange">
            Estatística Descritiva
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-md-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--orange">
            Probabilidade
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-md-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--orange">
            Distribuições de Probabilidade Discreta
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-md-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--orange">
            Distribuições de Probabilidade Contínua
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-md-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--orange">
            Intervalos de Confiança
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-md-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--orange">
            Teste de Hipóteses
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-md-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--orange">
            Correlação e Regressão
          </button>
        </a>
      </div>    
      
    </div>
  </div>
</section>

