<section class="definition">
  <!-- Elementos -->
  <div class="row definition__group mt-4 ">

    <h3 class="col-12 text-center">Elementos</h3>
    <div class="col-12 col-lg-6 col-xl-6">
      <!-- Explicação -->
      <div>
        <p class="p-justify">
          A nomenclatura seguinte deve-se ao fato de a Terra ser considerada aproximadamente
          uma esfera, tomando-se <em>e</em> como o eixo de rotação.
        </p>
        <p class="p-justify">
          <i class="fa fa-caret-right"></i>
          <em>Centro(O)</em>: ponto O.
        </p>
        <p class="p-justify">
          <i class="fa fa-caret-right"></i>
          <em>Raio(r)</em>: segmento <span class="">OA</span>.
        </p>
        <p class="p-justify">
          <i class="fa fa-caret-right"></i>
          <em>Pólos(P<sub>1</sub> e P<sub>2</sub>)</em>: são as interseções da superfície com
          o eixo.
        </p>
        <p class="p-justify">
          <i class="fa fa-caret-right"></i>
          <em>Equador</em>: é a seção (circunferência) perpendicular ao eixo, pelo centro da
          circunferência.
        </p>
        <p class="p-justify">
          <i class="fa fa-caret-right"></i>
          <em>Paralelo</em>: é uma seção (circunferência) perpendicular ao eixo. É "paralela"
          ao equador.
        </p>
        <p class="p-justify">
          <i class="fa fa-caret-right"></i>
          <em>Meridiano</em>: é uma seção (circunferência) cujo plano passa pelo eixo.
        </p>
      </div>

      <div class="alert alert-primary text-body" role="alert">
        <p>O plano contém o Equador divide a superfície em dois hemisférios que, em geografia, são
          chamados hemisfério Norte e hemisfério Sul.</p>
      </div>

    </div>

    <!-- Imagem -->
    <div class="col-12 col-lg-6 col-xl-6 definition__group__description align-self-center">
      <img src="assets/images/geometria/esfera/esfera-elementos.png"
        class="definition__group__img img-fluid rounded mx-auto d-block justify-content-center" />
    </div>

  </div>
</section>