$cor-padrao: rgba(70, 131, 180, 0.555);
$cor-padrao-escura:rgb(70, 131, 180);

.angulo-compreendido {
  margin-top: 0.5em;
  height: auto;
  margin-left: 0%;

  &__triangulo {
    padding-left: 0px;

    &__entrada {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      padding-left: 15px;

      &__input {
        max-width: 80px;
      }

      &__titulo {
        text-align: center;
        padding-top: 1em;
      }

      &__validacao {
        padding-left: 1em;
      }
    }

    &__desenho {
      padding-top: 1em;
      padding-left: 1em;
      text-align: center;
    }
  }

  &__resolucao {
    border-style: solid;
    border-width: 1px;
    border-color: $cor-padrao;
    border-top: none;
    border-bottom: none;
    border-right: none;
    padding-left: 15px;

    &__accordion {
      padding-top: 1em;
    }
  }

  &--desabilitado {
    display: none;
  }

  &__erro {
    width: 600px;
    height: 600px;
  }

  &__explicacao {
    text-align: left;
    margin-bottom: 1em;

    &__opcao {
      text-align: center;

      &__botao {
        cursor: pointer;
        border-color: $cor-padrao-escura;
        color: $cor-padrao-escura;
        background-color: white !important;

        &__icon {
          float: right;
          font-size: 18px;
        
          &__fa__down {
            color: rgb(153, 245, 16);
          }
        }
      }

      &__botao:hover {
        background-color: $cor-padrao-escura !important;
        color: white;
      }

      &__botao:link {
        background-color: $cor-padrao-escura !important;
      }
    }
  }

  &__resultado {
    &__explicacao {
      text-align: center;
      font-size: 20px;
    }

    &__formula {
      font-size: 25px;
      text-align: center;

      &--direita {
        float: right;
      }

      &--esquerda {
        float: left;
      }
    }
  }

  &__conteudo {
    border: solid 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: $cor-padrao-escura;
    margin-bottom: 1em;
  }
}

.dropdown-menu {
  background-color: $cor-padrao;
}

.dropdown-item:hover {
  background-color: $cor-padrao-escura;
  cursor: pointer;
}

.input-group {
  margin-top: 0.5em;

  &-addon {
    background-color: $cor-padrao-escura;
    text-align: center;
    padding-top: 7px;
    color: white;
    font-size: 18px;
  }
}

.input-group-addon {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

ul {
  list-style-type: none;
}

.card-header {
  background-color: $cor-padrao;
}

.card {
  border-color: $cor-padrao;
}

#bordaCard {
  border-bottom: none;
}

@media screen and (max-width: 765px) {
  .teste {
    text-align: left;
  }
}

@media screen and (min-width: 765px) {
  .teste {
    text-align: right;
    padding-top: 1em;
  }
}