<div class="row ifmath-conteudo__titulo">
  <span class="ifmath-conteudo__txt-titulo">Definição</span>
</div>
<section>

<p class="p-justify">
  Uma função determina uma relação entre os elementos de dois conjuntos. Podemos defini-la usando uma lei de formação,
   em que, para cada valor de x, temos um valor de f(x). Chamamos os valores do conjunto x de domínio da função e os valores
    do conjunto f(x), ou y, de imagem da função.
</p>

<p class="p-justify">
  Uma função chama-se função afim quando existem dois números reais a e b tal que f(x) = ax + b, para todo x pertencente aos reais [fórmula].
   Uma função chama-se função quadrática quando existem números reais a, b, e c, com a diferente de 0, tal que f(x) = ax2 + bx + c, para todo x pertencente aos reais [fórmula].
</p>
</section>