@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.row{
    margin: 0 !important;
}

a{
    font-family: 'Raleway', sans-serif;
}

span.katex-html {
    display: none;
} 