<geo-base-view>

  <!-- Botões de navegação -->
  <div class="btn-container mt-2 row align-items-center justify-content-center">
    <div class=" col-12 text-center">
      <h3 class="text-center">Área total</h3>
    </div>
    <h5 class="mt-2 col-12 text-center">Escolha abaixo a área referente ao cone que deseja calcular</h5>
    <geo-btn *ngFor="let button of buttons; let i = index" [name]="button.title" [route]="button.route"></geo-btn>
  </div>

  <div class="content-container col-12 row px-0 align-items-center justify-content-center">
    <div class="mt-4">
      <p class="text-center">
        Entre com a medida do raio(<ng-katex equation="\color{blue}{r}"></ng-katex>):
        <input class="btn btn-secondary bg-white text-body" type="number" [(ngModel)]="radius"
          oninput="this.value = Math.abs(this.value)" (ngModelChange)="changeInputs()" max="50" min="5" />
        e da Altura(<ng-katex equation="\color{red}{h}"></ng-katex>):
        <input class="btn btn-secondary bg-white text-body" type="number" [(ngModel)]="height"
          oninput="this.value = Math.abs(this.value)" (ngModelChange)="changeInputs()" max="50 " min="5" />
      </p>

      <div [className]="errorInput === true ? 'mt-1 alert alert-danger' : 'mt-1 alert alert-primary'" role="alert">
        O raio e a altura devem ser um valor inteiro contido entre <b>5</b> e <b>50</b>.
      </div>
    </div>

    <geo-scene class="col-12 row px-0 bg-primary img-fluid" [hasOrbitControls]="true" [hasPerspective]="true">
    </geo-scene>
  </div>

  <!--Propriedades-->
  <div class="rightbar px-3 vh-100">
    <h3>Propriedades</h3>
    <p>
      A área total (<ng-katex equation="A_t"></ng-katex>) é obtida somando-se a área da base com a área lateral.
    </p>
    <!-- Fórmula área total -->
    <p class="text-center">
      <ng-katex class="explicacao"
        equation="\textcolor{black}{A_t =\textcolor{RosyBrown}{  A_l }  \textcolor{black}{+} \textcolor{DarkViolet}{  A_b } }">
      </ng-katex>
    </p>

    <p class="row text-center">
      <!-- Fórmula área lateral -->
      <ng-katex class="explicacao col-lg-6 col-12" equation="\textcolor{RosyBrown}{A_l = \pi \cdot r \cdot g }">
      </ng-katex>

      <!-- Fórmula área da base -->
      <ng-katex class="explicacao col-lg-6 col-12" equation="\textcolor{DarkViolet}{A_b = \pi \cdot r^2}">
      </ng-katex>
    </p>
    <!-- Imagem -->
    <div class="text-center">
      <img class="img-fluid" src="assets/images/geometria/cone/cn-areas/areas-area-total-cone.svg">
    </div>



    <hr>

    <div class="accordion" id="accordionExample">
      <!-- Exemplo -->
      <div class="card">
        <div class="card-header" id="headingCalculo" data-toggle="collapse" data-target="#collapseCalculo">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseCalculo"
              aria-expanded="true" aria-controls="collapseCalculo">
              <p *ngIf="isApprox else elseResult" class="mb-0">
                Cálculo
                <ng-katex class="explicacao" equation="\approx {{ result }} \pi \ u.a."></ng-katex>
              </p>
              <ng-template #elseResult>
                Cálculo
                <ng-katex class="explicacao" equation=" = {{ result }} \pi \ u.a."></ng-katex>
              </ng-template>
            </button>
            <i class="fa fa-arrow-circle-down float-right mt-2 mr-4" data-toggle="collapse"
              data-target="#collapseCalculo"></i>
          </h2>
        </div>

        <div id="collapseCalculo" class="collapse" aria-labelledby="headingCalculo" data-parent="#accordionExample">
          <!-- Panel -->
          <div class="card-body">

            <!--Passo 1-->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="">
                    <p>
                      <ng-katex class="explicacao"
                        equation="\textcolor{black}{A_t =\color{RosyBrown}{  A_l }  \textcolor{black}{+} \color{DarkViolet}{  A_b } }">
                      </ng-katex>
                      <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                        data-target="#collapseOne"></i>
                    </p>
                  </a>
                </h4>

              </div>
              <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                  Fórmula para o calculo da área total.
                  <ul>
                    <li>
                      <ng-katex equation="\color{RosyBrown}{ A_l }"></ng-katex> = Área Lateral
                    </li>
                    <li>
                      <ng-katex equation="\color{DarkViolet}{ A_b }"></ng-katex> = Área da Base
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <hr>
            <!--Passo 2-->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="">
                    <p>
                      <ng-katex class="explicacao"
                        equation="\textcolor{black}{A_t = \color{RosyBrown}{ \pi \cdot r  \cdot g } \textcolor{black}{+} \color{DarkViolet}{ \pi \cdot r^2} }">
                      </ng-katex>
                      <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                        data-target="#collapseTwo"></i>
                    </p>
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  Soma da área lateral mais área da base.
                </div>
              </div>
            </div>
            <hr>
            <!--Passo 3-->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="">
                    <p>
                      <ng-katex id="passo3" class="explicacao"
                        equation="\textcolor{black}{A_t =(\color{RosyBrown}{\pi \cdot {{ radius }} \cdot  {{outsideRoot != 1 ? outsideRoot : '' }} {{ insideRoot !=1 ? '\\sqrt{' + insideRoot + '}' : '' }} } \color{black}{ ) + (} \color{DarkViolet}{\pi \cdot {{radius}}^2} \color{black}{ )}}">
                      </ng-katex>
                      <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                        data-target="#collapseThree"></i>
                    </p>
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                  Substitui os elementos e realiza-se a multiplicação dos elementos dentro dos parênteses.
                </div>
              </div>
            </div>
            <hr>
            <!--Passo 4-->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="">
                    <p>
                      <ng-katex class="explicacao"
                        equation="\textcolor{black}{A_t =\color{RosyBrown}{  {{ radius * outsideRoot }} \pi {{ insideRoot !=1 ? '\\sqrt{' + insideRoot + '}' : '' }} } \color{black}{+} \color{DarkViolet}{ {{ (radius*radius) }} \pi } }">
                      </ng-katex>
                      <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                        data-target="#collapseFour"></i>
                    </p>
                  </a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                  Soma-se os termos semelhantes, se houver.
                </div>
              </div>
            </div>
            <hr>
            <!--Passo 5-->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="">
                    <p>
                      <ng-katex class="explicacao"
                        equation="\textcolor{black}{A_t = \textcolor{black}{ {{ mmc }} \pi ( {{ (factoredRoot != 1) ? factoredRoot : '' }} \sqrt{ {{ insideRoot }} } + {{ factoredRadius }} ) }}">
                      </ng-katex>
                      <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                        data-target="#collapseFive"></i>
                    </p>
                  </a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                  Simplificando a equação.
                </div>
              </div>
            </div>
            <hr>
            <!--Passo 6-->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" class="">
                    <p *ngIf="isApprox else elseBlock">
                      <ng-katex class="explicacao"
                        equation="\textcolor{black}{A_t \approx \textcolor{red}{ {{ result }} \textcolor{black}{\pi} } \ u.a.}">
                      </ng-katex>
                      <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                        data-target="#collapseSix"></i>
                    </p>
                    <ng-template #elseBlock>
                      <ng-katex class="explicacao"
                        equation="\textcolor{black}{A_t = \textcolor{red}{ {{ result }} \textcolor{black}{\pi} } \ u.a.}"></ng-katex>
                      <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                        data-target="#collapseSix"></i>
                    </ng-template>
                  </a>
                </h4>
              </div>
              <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                  Resultado final aproximado em decimais em unidades de área.
                </div>
              </div>
            </div>

          </div>
          <!-- end panel  -->
        </div>
      </div>

    </div>








  </div>

</geo-base-view>
