<section class="ifmath-side-bar">
  <ul class="list-group  list-group-collapse">
    <li class="list-group-item list-group-item-action" [routerLink]="['pg_descricao']">
      Definição
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['pg_termo_geral']">
      Termo geral
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['pg_formula']">
      Razão Fórmula
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['pg_razao_2termos']">
      Razão a partir de dois termos consecutivos
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['pg_primeiro_elemento']">
      Primeiro elemento
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['pg_posicao']">
      Posição
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['pg_primeiro_termo_soma']">
      Soma Primeiro termo da soma de uma P.G. finíta
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['pg_soma_elementos_finita']">
      Soma dos elementos de uma P.G. finíta
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['pg_soma_elementos_infinita']">
      Soma dos elementos de uma P.G. infiníta
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['pg_verificar_elemento']">
      Verificar elemento
    </li>
    <li class="list-group-item list-group-item-action" [routerLink]="['pg_criar_sequencia']">
      Criar sequência
    </li>
  </ul>
</section>