<geo-base-view>

  <div class="btn-container row">
    <h3 class="col-12 text-center">Cunha esférica</h3>
  </div>
  <!-- Botões de navegação -->
  <div class="btn-container mt-2 row">
    <h5 class="mt-2 col-12 text-center">Escolha abaixo a propriedade que deseja calcular referente a esfera</h5>
    <geo-btn *ngFor="let button of buttons; let i = index" [name]="button.title" [route]="button.route"></geo-btn>
  </div>

  <!-- Conteudo -->
  <div class="content-container col-12 row px-0 align-items-center justify-content-center">
    <!-- Inputs -->
    <div class="mt-4">
      <p class="text-center">
        Entre com a medida do
        Raio(<ng-katex equation="\color{blue}{ r }"></ng-katex>):
        <input class="btn btn-secondary bg-white text-body" type="number" [(ngModel)]="radius"
          oninput="this.value = Math.abs(this.value)" (ngModelChange)="changeRadius()" max="50" min="5" />
        e Ângulo em graus (<ng-katex equation="\color{red}{ \alpha }"></ng-katex>):
        <input class="btn btn-secondary bg-white text-body" type="number" [(ngModel)]="angle"
          oninput="this.value = Math.abs(this.value)" (ngModelChange)="changeAngle()" max="360" min="1" />
      </p>
    </div>

    <div
      [className]="errorInput === true ? 'mt-1 alert alert-danger text-center' : 'mt-1 alert alert-primary text-center'"
      role="alert">
      O raio deve ser um valor inteiro contido entre <b>5</b> e <b>50</b>. <br>
      Ângulo em graus deve ser um valor inteiro contido entre <b>1</b> e <b>360</b>.
    </div>
    <!-- Cena -->
    <geo-scene class="col-12 row px-0 bg-primary img-fluid" [hasOrbitControls]="true" [hasPerspective]="true">
    </geo-scene>
  </div>


  <!-- Propriedades -->
  <div class="rightbar px-3 vh-100">
    <h3>Propriedades:</h3>
    <p>
      O volume da cunha esférica depende do ângulo <ng-katex equation="\alpha"></ng-katex>, caso <ng-katex
        equation="\alpha = 360\degree"></ng-katex> teremos a esfera toda.
    </p>
    <p class="text-center">
      <ng-katex class="explicacao"
        equation="\color{black}{V_{cunha} = \frac{\pi \cdot \color{blue}{r}\color{black}{^3 \cdot} \color{red}{\alpha}}{270 \degree}}">
      </ng-katex>
    </p>
    <!-- Imagem -->
    <div class="text-center">
      <img class="img-fluid" src="assets/images/geometria/esfera/cunha-esfera-explicação.png">
    </div>
    <hr />

    <!-- Accordion -->
    <div class="accordion" id="accordionExample">

      <!-- Exemplo -->
      <div class="card">
        <div class="card-header" id="heading" data-toggle="collapse" data-target="#collapse">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse"
              aria-expanded="true" aria-controls="collapse">
              <p *ngIf="isApprox else elseResult" class="mb-0">
                Cálculo <ng-katex class="explicacao" equation="\approx {{ result }} \pi \ u.v">
                </ng-katex>
              </p>
              <ng-template #elseResult>
                Cálculo <ng-katex class="explicacao" equation="= {{ result }} \pi \ u.v">
                </ng-katex>
              </ng-template>

            </button>

            <i class="fa fa-arrow-circle-down float-right mt-2 mr-3" data-toggle="collapse" data-target="#collapse"></i>
          </h2>
        </div>

        <div id="collapse" class="collapse" aria-labelledby="heading" data-parent="#accordionExample">
          <div class="card-body">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pl-0 pr-0">
                <div class="panel-group" id="accordion">

                  <!-- Passo a passo -->
                  <div class="panel-group" id="accordion">
                    <!-- Passo 1  -->
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#one" class="">
                            <p>
                              <ng-katex class="explicacao"
                                equation="\color{black}{V_{cunha} = \frac{\pi \cdot \color{blue}{r}\color{black}{^3 \cdot} \color{red}{\alpha}}{270 \degree}}">
                              </ng-katex>

                              <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                                data-target="#collapseGeratriz"></i>
                            </p>
                          </a>
                        </h4>
                      </div>
                      <div id="one" class="panel-collapse collapse">
                        <div class="panel-body">
                          Fórmula para calcular o volume da cunha esférica.
                          <ul>
                            <li>
                              <ng-katex equation="\color{blue}{ r }"></ng-katex> = raio
                            </li>
                            <li>
                              <ng-katex equation="\color{red}{ \alpha }"></ng-katex> = ângulo em graus
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <hr>

                    <!-- Passo 2  -->
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#two" class="">
                            <p>
                              <ng-katex class="explicacao"
                                equation="\color{black}{V_{cunha} = \frac{\pi \cdot \color{blue}{ {{ radius }} } \color{black}{^3  \cdot} \color{red}{ {{ angle }} \degree } }{270 \degree}}">
                              </ng-katex>

                              <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                                data-target="#collapseGeratriz"></i>
                            </p>
                          </a>
                        </h4>
                      </div>
                      <div id="two" class="panel-collapse collapse">
                        <div class="panel-body">
                          Eleva o raio(<ng-katex equation="\textcolor{blue}{ {{radius}} }"></ng-katex>) ao cubo,
                          multiplica pelo
                          ângulo(<ng-katex equation="\textcolor{red}{ {{angle}} \degree }"></ng-katex>) e divide o
                          resultado por
                          <ng-katex equation="\textcolor{black}{ 270 \degree }."></ng-katex>Obtemos
                          <ng-katex class="explicacao"
                            equation="\color{black}{ \frac{\pi \cdot \color{black}{ {{ radius * radius * radius * angle }} } } {270}}">
                          </ng-katex>
                        </div>
                      </div>
                    </div>
                    <hr>

                    <!-- Passo 3  -->
                    <div *ngIf="isApprox" class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#three" class="">
                            <p>
                              <ng-katex class="explicacao"
                                equation="\color{black}{V_{cunha} =  \frac{ {{ topFraction }} }{ {{ bottomFraction }} } \color{black}{ \pi \ u.v. }}">
                              </ng-katex>

                              <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                                data-target="#collapseGeratriz"></i>
                            </p>
                          </a>
                        </h4>
                      </div>
                      <div id="three" class="panel-collapse collapse">
                        <div class="panel-body">
                          Simplificando a fração <ng-katex class="explicacao"
                            equation="\color{black}{ \frac{\pi \cdot \color{black}{ {{ radius * radius * radius * angle }} } } {270}}">
                          </ng-katex>.
                        </div>
                      </div>
                    </div>
                    <hr>
                    <!-- Passo 4  -->
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#four" class="">
                            <p *ngIf="isApprox else elseBlock">
                              <ng-katex class="explicacao"
                                equation="\color{black}{V_{cunha} \approx {{ result }}  \color{black}{ \pi \ u.v. }}">
                              </ng-katex>

                              <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                                data-target="#collapseGeratriz"></i>
                            </p>
                            <ng-template #elseBlock>
                              <ng-katex class="explicacao" id="katex"
                                equation="\textcolor{black}{V_{cunha} = {{ result }} \pi \ u.v }">
                              </ng-katex>
                              <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                                data-target="#collapseEleven"></i>
                            </ng-template>
                          </a>
                        </h4>
                      </div>
                      <div id="four" class="panel-collapse collapse">
                        <div class="panel-body">
                          Resultado final em unidades de volume (u.v).
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End passo a passo -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End exemplo -->

    </div>
    <!-- end accordion -->


  </div>

</geo-base-view>